:root {
  --background: rgb(138, 189, 255);
  --light: aliceblue;
  --text: black;
  --bright: rgb(232, 205, 49);
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  height: 100%;
}

body {
  background-color: var(--background);
}

h1 {
  text-align: center;
  background-color: var(--background);
  background-position: 100%;
  color: black;
  padding: 30px;
  font-family: "Permanent Marker", cursive;
}

h2,
h3 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

p {
  text-align: center;
}

p1 {
  text-align: center;
  font-style: italic;
  font-size: 13px;
}

p2 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

form {
  position: relative;
  z-index: 99;
}

span {
  text-align: center;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#header-img-1,
#header-img-2 {
  max-width: 300px;
  max-height: 300px;
}

#app-title {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  margin-bottom: -40px;
  margin-top: 30px;
}

.dateTime {
  font-size: 35px;
  color: var(--light);
  margin-top: 20px;
}

.workout-info-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  position: relative;
  float: left;
  margin-left: 70px;
  padding-right: 50px;
}

#calculateBtn {
  left: 50px;
}

#workout-log {
  margin-top: 20px;
  align-self: center;
}

.card-content {
  z-index: 99;
  position: relative;
}

.card-footer {
  justify-content: right;
  position: relative;
  z-index: 99;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
}

.card-header {
  background-color: var(--bright);
  border-radius: 5px;
}

.card-header-title {
  display: flex;
  align-items: center;
  text-align: center;
}

.exercise-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  max-width: 70%;
  margin-left: 200px;
  padding-left: 30px;
}

.box {
  border-radius: 10px;
}

#exercise-title {
  display: flex;
  align-self: center;
  margin-bottom: 30px;
}

#exercise-input {
  font-size: 20px;
}

#exercise-button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.exercise-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  background-color: white;
  opacity: 0.7;
  margin: 30px;
  padding: 10px;
  border-radius: 8px;
  padding: 25px;
}

.nameStyling {
  font-size: 30px;
  color: var(--background);
  align-self: center;
}

.descriptionStyling {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--light);
  border-radius: 10px;
  margin-left: 200px;
  margin-bottom: 30px;
  max-width: 70%;
  padding: 15px;
}

#workout-time {
  margin-top: 40px;
  font-size: 25px;
}

.box {
  margin-bottom: 60px;
}

#city-srch {
  font-size: 20px;
}

#city-button {
  font-size: 20px;
}
/* Media Query */

/* 992px or smaller */
@media screen and (max-width: 992px) {
  div {
    display: flex;
    flex-direction: column;
  }
  header .project-title {
    justify-content: center;
  }

  h1 {
    justify-content: center;
  }

  body {
    min-width: 992px;
  }
  .exercise-info {
    width: 70%;
  }
  .weather-container {
    width: auto;
    background-color: var(--bright);
    width: 30%;
  }
}

/* 768px or smaller */
@media screen and (max-width: 768px) {
  div {
    display: flex;
    flex-direction: column;
  }

  header .project-title {
    justify-content: center;
  }

  h1 {
    justify-content: center;
  }
  .exercise-info {
    width: 100%;
    background: var(--bright);
  }
}
