* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: rgb(138, 189, 255);
  background-position: 100%;
  color: black;
<<<<<<< HEAD
  padding: 30px;
=======
>>>>>>> 10ac0e0b7a00d81e01396c27223efdbc6392346d
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

<<<<<<< HEAD
form {
  position: relative;
  z-index: 99;
}

.project-title {
  margin-bottom: 30px;
}

#dateTime {
  font-size: 20px;
}

=======
>>>>>>> 10ac0e0b7a00d81e01396c27223efdbc6392346d
.workout-info-container {
  justify-content: left;
  position: relative;
  float: left;
<<<<<<< HEAD
  margin-left: 30px;
}

#workout-log {
  margin-top: 20px;
}

.card-content {
  z-index: 99;
  position: relative;
=======
>>>>>>> 10ac0e0b7a00d81e01396c27223efdbc6392346d
}

.card-footer {
  justify-content: right;
<<<<<<< HEAD
  position: relative;
  z-index: 99;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding: 20px;
}

.reddit-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  float: center;
  margin-left: 410px;
  max-width: 750px;
}

.spotify-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: relative;
  float: right;
  margin-left: 1250px;
  margin-right: 30px;
  margin-top: -1230px;
}

#workout-time {
  margin-top: 40px;
}

.box {
  margin-bottom: 60px;
}



=======
}

.reddit-info {
  justify-content: center;
  display: block;
  position: relative;
  float: center;
}

.spotify-container {
  justify-content: right;
  position: relative;
  float: right;
}
>>>>>>> 10ac0e0b7a00d81e01396c27223efdbc6392346d
